@charset "UTF-8";

/*
    Paleta de cores:

    Azul: #93A2BF;
    Amarelo: #F2B705;
    Pastel: #F2A74B;
    Rosa claro: #F2C49B;
    Laranja: #F25C05;
    Branco: #FEFAEF;
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #f25c05;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: #fefaef;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000070;
}

section#login > div#imagem{
    display: block;
    background: #f25c05 url(../imagens/predios.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}